<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/registration}" method="post" th:object="${userForm}">
    <input th:type="hidden" th:field="*{id}">
    <label for="username">Username</label>
    <input id="username" type="text" th:field="*{username}"><br>
    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}"><br>
    <input type="submit" value="Register">
</form>
<br><a th:href="@{/login}">Login</a>
</body>
</html>